.answers-main-block {
    padding-top: 40px;
}

.answers-main-block .heading-2 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.answers-content-block {
    width: 614px;
    margin: 0 auto;
}

.answer-content-item {
    border-top: 2px solid #f3f3f6;
    color: #3b3b5b;
}

.answer-content-item:last-child {
    border-bottom: 2px solid #f3f3f6;
}

.question-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    min-height: 60px;
    padding: 10px 40px 10px 0;
    position: relative;
    transition: color .25s cubic-bezier(.22, 1, .36, 1);
}

.question-item:hover {
    color: #1212b2;
}

.faq-item__arrow {
    color: #1212b2;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.vm-arrow.vm-arrow--up .vm-arrow__img {
    position: relative;
    transform: rotate(-180deg);
}

.answer-item {
    padding: 0 40px 20px 0;
    display: none;
}

.open-answer-item {
    display: block;
}

.button-add-question-block {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 25px;
}

.button-add-question {
    align-items: center;
    background-color: #1212b2;
    border: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "TT Norms", sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    max-width: 100%;
    padding: 0 40px;
    text-transform: uppercase;
    transition: .25s cubic-bezier(.22, 1, .36, 1);
    will-change: auto;
}

.button-add-question:hover {
    background-color: #4545e5;
}

#modal-add-question {
    position: fixed;
    width: 368px;
    height: 608px;
    z-index: 100;
    bottom: -620px;
    background-color: #1212b2;
    right: 10%;
    border-top-left-radius: 35px !important;
    border-top-right-radius: 35px !important;
    border: 1px solid rgba(237, 237, 237, 1) !important;
    background: #2E1AAE !important;
    box-shadow: 0 0 50px rgba(17, 17, 17, 0.2) !important;
    transition: 0.2s;
}

#modal-add-question.active-modal-add-question {
    bottom: 0;
}

.top-line-modal-question {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    position: relative;
    padding: 1.5em;
    font-weight: 700 !important;
    color: white;
    padding-left: 2em;
    font-size: 16px;
    padding-bottom: 1em;
}

.close-modal-question-block {
    position: absolute;
    top: 0.8em;
    right: 1em;
    cursor: pointer;
    width: 3em;
    height: 3em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s;
}

.close-modal-question-block:hover {
    background: hsla(0, 0%, 100%, .2) !important;
}

.close-modal-question-block svg {
    width: 1. 1em;
    height: 1.1em;
    fill: white;
}

.form-add-question-block {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-top-left-radius: 35px !important;
    border-top-right-radius: 35px !important;
    padding: 22.5px;
    padding-bottom: 0;
}

.message-question-block {
    margin-top: 0.5em !important;
    margin-bottom: 1em !important;
    background-color: #f3f2f7;
    padding: 1em;
    border-radius: 15px;
    border-bottom-left-radius: 0;
}

#addQuestionForm {
    width: 100%;
}

#addQuestionForm textarea {
    display: block;
    font-family: "TT Norms", sans-serif;
    font-size: 15px;
    width: 100%;
    height: 6em;
    padding: 1em 1em 2em;
    border: 1px solid #f8f9fa;
    line-height: 1.25em;
    background-color: #f8f9fa;
    color: #595959;
    border-radius: 0.75em;
    -webkit-transition: border-color .2s ease;
    -o-transition: border-color .2s ease;
    transition: border-color .2s ease;
    resize: none;
    margin: 0;
    margin-bottom: 1em;
}

#addQuestionForm input[type="text"] {
    font-family: "TT Norms", sans-serif;
    font-size: 15px;
    width: 100%;
    padding: 1em 1em;
    border: 1px solid #f8f9fa;
    line-height: 1.25em;
    background-color: #f8f9fa;
    color: #595959;
    border-radius: 0.75em;
    -webkit-transition: border-color .2s ease;
    -o-transition: border-color .2s ease;
    transition: border-color .2s ease;
    margin: 0;
    resize: none;
    margin-bottom: 1em;
}

#addQuestionForm textarea:focus,
#addQuestionForm input[type="text"]:focus {
    background-color: #fff;
    border: 1px solid #f8f9fa;
}

#addQuestionForm button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    padding: 1.05em 1em;
    font-size: 1em;
    font-family: inherit;
    background: #fff;
    color: #595959;
    margin: 0;
    border-radius: 0.75em;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    background: #3cb868;
    color: #ffffff;
    border-color: #3cb868;
    border-radius: 1.5em;
    cursor: pointer;
    border: 1px solid #f8f9fa !important;
    line-height: 1.25em !important;
}